<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <add name="conn" connectionString="server=LAPTOP-QKMKPDVB\OPTATIVAII; database=Ferreteria; integrated security = true"  />
    </connectionStrings>
  
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EquipoUsuarioWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoUsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="EquipoUsuarioWSPortBinding"
                contract="webservice.EquipoUsuarioWS" name="EquipoUsuarioWSPort" />
        </client>
    </system.serviceModel>
</configuration>
